@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
.connectfour {
    text-align: center;
    font-size: 60px;
    color: whitesmoke;
    font-family: 'Lilita One', cursive;
    font-weight: normal;
}

footer {
    margin-top: 25px;
    padding: 5px;
    background-color: rgba(3, 3, 3, 0.5);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    height: 200px;
}

:root {
    background-image: linear-gradient( blue, rgb(100, 42, 100));
    background-repeat: no-repeat;
}

#grid {
    justify-content: center;
    display: grid;
    flex-direction: column-reverse;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(6, 100px);
}

.cell {
    border: 5px solid yellow;
}

#redchip {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: red;
}

#blackchip {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: black;
}

.credits {
    color: whitesmoke;
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;
}