@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: linear-gradient(45deg, #16BFFD 50%, #CB3066 50%) no-repeat;
}

footer {
    background-color: rgba(3, 3, 3, 0.5);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
	height: 200px;
	width: 100vw;
	position: absolute;
	bottom: 0;
}

.title {
    text-align: center;
    font-size: 60px;
    color: whitesmoke;
    font-family: 'Lilita One', cursive;
    font-weight: normal;
}

#grid {
    display: flex;
}

.column {
	display: flex;
	flex-direction: column-reverse;
}

.column:hover {
	cursor: pointer;
	z-index: 10000;
	opacity: 0.5;
}

.cell {
    width: 100px;
	height: 100px;
	outline: 2.5px solid;
	display: flex;
	justify-content: center;
	background: #0000002f;
	align-items: center;
}

.chip {
	border-radius: 50%;
	border: solid 15px;
	padding: 20px;
}

.p0 {
    border-color: #CB3066;
}

.p1 {
    border-color: #556368;
}

.credits {
    color: whitesmoke;
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;
}