@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
.connectfour {
    text-align: center;
    font-size: 60px;
    color: whitesmoke;
    font-family: 'Lilita One', cursive;
    font-weight: normal;
}

#bigboy {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 25px;
    padding: 5px;
    background-color: rgba(3, 3, 3, 0.5);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    height: 200px;
}

:root {
    background-image: linear-gradient( blue, rgb(100, 42, 100));
    background-repeat: no-repeat;
}

#grid {
    display: inline-flex;
    flex-direction: row-reverse;
}

.column {
	display: flex;
	flex-direction: column-reverse;
}

.column:hover {
    cursor: pointer;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    border: 5px solid yellow;
}

.chip {
	width: 90px;
    height: 90px;
    border-radius: 50%;
}

.p0 {
    background-color: red;
}

.p1 {
    background-color: black;
}

.credits {
    color: whitesmoke;
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;
}